doctype html
html
  head
    meta(charset="utf-8")
    title= navItem.title
    link(rel="stylesheet" href=`${rootConfig.baseUrl}cldoc-${rootConfig.styleName}`)
  body
    .g-nav!= navHtml
    .g-doc.markdown-body!= docHtml
      .g-footer @#{rootConfig.title}
    script(src=`${rootConfig.baseUrl}cldoc.js`)
